
= @dj.inspect

%p
  .lead
    Delayed Jobs
  .pull-right
    = link_to "Get DJ Mon for iPhone", "http://itunes.apple.com/app/dj-mon/id552732872", :target => '_blank', :class => 'btn btn-mini'

%ul.nav.nav-tabs
  %li.active
    = link_to "All", "#all", "data-toggle" => "tab"
  %li
    = link_to "Failed", "#failed", "data-toggle" => "tab"
  %li
    = link_to "Queued", "#queued", "data-toggle" => "tab"
  %li
    = link_to "Active", "#active", "data-toggle" => "tab"

.tab-content
  .tab-pane#all.active{ 'data-url'   => all_delayed_job_view_url }
  .tab-pane#failed{ 'data-url'=> failed_delayed_job_view_url }
  .tab-pane#active{ 'data-url'=> active_delayed_job_view_url }
  .tab-pane#queued{ 'data-url'=> queued_delayed_job_view_url }

%script#dj_reports_template{ :type=> "text/x-handlebars-template" }
  %table.table.table-striped#jobs-table
    %thead
      %tr
        %th
          Queue
        %th
          ID
        %th
          Priority
        %th
          Attempts
        %th
          Last Error
        %th.date
          Run at
        %th.date
          Created at
        %th.date
          Failed at

    %tbody
      {{#.}}
      %tr
        %td
          .label.label-info
            {{queue}}
        %td
          <a href="#" data-content="<code class='block'>{{payload}}</code>" rel='popover' title='Payload'> {{id}} </a>
        %td
          {{priority}}
        %td
          {{attempts}}
        %td
          <a href="#last_error_template" data-content="{{last_error}}" rel='modal' title='Last Error'> {{last_error_summary}} </a>
        %td.date
          {{run_at}}
        %td.date
          {{created_at}}
        %td.date
          {{#failed}}
          {{failed_at}}

          = form_tag CGI.unescape(retry_delayed_job_view_url(:id => "{{id}}")), :method => :post, :class => 'form-inline' do
            = submit_tag 'Retry', :class => 'btn btn-info btn-mini'

          = form_tag CGI.unescape(delayed_job_view_url(:id => "{{id}}")), :method => :delete, :class => 'form-inline' do
            = submit_tag 'Delete', :class => 'btn btn-danger btn-mini'

          {{/failed}}

      {{/.}}

%script#last_error_template{ :type=> "text/x-handlebars-template" }
  .modal.hide
    .modal-header
      %button{ :type => "button", :class => "close", 'data-dismiss' => "modal" }
        ×
      %h3
        Last Error
    .modal-body
      %code
        {{content}}
    .modal-footer
      = link_to "Close", '#', :class => 'btn btn-primary', 'data-dismiss'=> 'modal'