<%
#*******************************************************************************
# OpenStudio(R), Copyright (c) 2008-2016, Alliance for Sustainable Energy, LLC.
# All rights reserved.
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# (1) Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# (2) Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# (3) Neither the name of the copyright holder nor the names of any contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission from the respective party.
#
# (4) Other than as required in clauses (1) and (2), distributions in any form
# of modifications or other derivative works may not use the "OpenStudio"
# trademark, "OS", "os", or any other confusingly similar designation without
# specific prior written permission from Alliance for Sustainable Energy, LLC.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER, THE UNITED STATES
# GOVERNMENT, OR ANY CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
# EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#*******************************************************************************
%>

<h2>Analysis Data &mdash;  <%= link_to @analysis.display_name, analysis_path(@analysis) %></h2>

<h3>Variables</h3>
   <table class="table table-striped">
     <thead>
     <tr>
       <th>Name</th>
       <th>Data Type*</th>
       <th>Data Type*</th>
       <th>Units</th>
       <th>Export</th>
       <th>Visualize</th>
       <th>Pivot</th>
       <th>Output</th>
       <th>Perturbable</th>
       <th>Objective Function</th>
     <tr>
     </thead>
     <tbody>
       <% @variables.each do |key, var| %>
       <tr>
         <td><%= var['display_name']%></td>
         <td><%= var['data_type'] unless var['data_type'].nil? %>
         <td><%= var['value_type'] unless var['value_type'].nil? %>
         <td><%= var['units'] %></td>
         <td><%= var['export'] if var['export'] %></td>
         <td><%= var['visualize'] if var['visualize'] %></td>
         <td><%= var['pivot'] if var['pivot'] %></td>
         <td><%= var['output'] if var['output'] %></td>
         <td><%= var['perturbable'] if var['perturbabe'] %></td>
         <td>
           <% if var['objective_function'] %>
            group: <%= var['objective_function_group'] %> <br/>
            index <%= var['objective_function_index'] %> <br/>
            target: <%= var['objective_function_target'] %>
           <% end %>
         </td>
       </tr>
       <% end %>
     </tbody>


   </table>

<p>* If there are two data types, then the record has both a value type and data type field (which needs to be fixed)</p>
<h3>Data</h3>

<div class="panel-group" id="accordion">
  <% @data.each do |d| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= d['_id'] %>">
          <%= d['name'] %>
        </a></h4>
      </div>
      <div id="collapse_<%= d['_id'] %>" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-striped">
            <% d.each do |key, val| %>
              <tr>
                <th><%= key %></th>
                <td><%= val %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
