<p id="notice"><%= notice %></p>

<!-- <script type="text/javascript" charset="utf-8">
    <%#= render 'page_data.js' %>
</script>
-->

<h1>Analysis Information</h1>

<% if !@analysis %>
    <p>No analysis information found</p>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Start Time (UTC)</th>
        <th>End Time (UTC)</th>
        <th>Delta Time (s)</th>
        <th>View</th>
      <tr>
      </thead>
      <tbody>
      <td><%= @analysis.name %></td>
      <td><%= @analysis.analysis_type %></td>
      <td><%= @analysis.status %></td>

      <td><%= @analysis.start_time.strftime("%m-%d-%Y %H:%M:%S") unless @analysis.start_time.nil? %></td>
      <td><%= @analysis.end_time.strftime("%m-%d-%Y %H:%M:%S") unless @analysis.end_time.nil? %></td>
      <td><%= (@analysis.end_time.to_f - @analysis.start_time.to_f).round(2) unless @analysis.end_time.nil? || @analysis.start_time.nil? %></td>
      <td><%= link_to 'JSON', analysis_path(@analysis, :format => :json) %>
        | <%= link_to_if(!@analysis.seed_zip.nil?, "Zip File", @analysis.seed_zip.url(:original, false)) %> </td>
      </tbody>
    </table>

    <%= link_to "List of Measures (#{@analysis.measures.count})", analysis_measures_path(@analysis) %> |
    <%= link_to "List of Variables (#{@analysis.variables.count})", analysis_variables_path(@analysis) %> |
    <%= link_to 'View Parallel Coordinates Plot', plot_parallelcoordinates_analysis_path(@analysis) %> |
    <%= link_to 'View Scatter Plot', plot_scatter_analysis_path(@analysis) %> |
    <%= link_to 'View XY Plot', plot_xy_analysis_path(@analysis) %> |
    <%= link_to 'View XY2 Plot', plot_xy2_analysis_path(@analysis) %> |
    <%= link_to 'Download CSV', download_data_analysis_path(@analysis, format: :csv) %> |
    <%= link_to 'Download R Data Frame', download_data_analysis_path(@analysis, format: :rdata) %> |
    <%= link_to "Debug Log", debug_log_analysis_path(@analysis) %>


    <h1>Data Points (<%= @analysis.data_points.count if @analysis.data_points %>) </h1>
    <script>
        $(document).ready(function () {
                    $("#datapointtable").tablesorter();
                }
        );

    </script>
    <table id="datapointtable" class="tablesorter table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Status Message</th>
        <% @objective_functions.each do |ov| %>
            <th>Obj Func <%= ov['display_name'] %> </th>
        <% end %>  
        <th>Start Time (UTC)</th>
        <th>End Time (UTC)</th>
        <th>Delta Time (s)</th>
        <th>View</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @analysis.data_points.order_by(:run_start_time.desc, :name.asc).each do |dp| %>
          <tr>
            <td> <%= link_to "#{dp.name}", data_point_path(dp) %> </td>
            <td> <%= dp.status %></td>
            <td><%= dp.status_message if dp.status_message %></td>
            <% @objective_functions.each do |ov| %>
                <td><%= (dp.results && dp.results[ov['name']])? dp.results[ov['name']] : "NA" %>  </td>
            <% end %>
            <td> <%= dp.run_start_time.strftime("%m-%d-%Y %H:%M:%S") unless dp.run_start_time.nil? %> </td>
            <td> <%= dp.run_end_time.strftime("%m-%d-%Y %H:%M:%S") unless dp.run_end_time.nil? %> </td>
            <td><%= ((dp.run_end_time.to_f - dp.run_start_time.to_f)).round(2) unless dp.run_end_time.nil? || dp.run_start_time.nil? %></td>
            <td><%= link_to 'HTML', data_point_path(dp) %>
              | <%= link_to 'OS JSON', data_point_path(dp, :format => :json) %>
              | <%= link_to 'Full JSON', show_full_data_point_path(dp, :format => :json) %>
              | <%= link_to_if(!dp.openstudio_datapoint_file_name.nil? && File.exist?(dp.openstudio_datapoint_file_name), "Zip File", download_data_point_path(dp)) %>
            <td><%= link_to 'Destroy', dp, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
