 <h2>Compute Node Information</h2>
 <div class="pad-top-20">
	 <table class="table table-striped">
	  <tr>
	  	<th>Node Type</th>
	  	<th>IP</th>
	  	<th>Hostname</th>
	  	<th>Port</th>
	  	<th>Local Hostname</th>
	  	<th>User</th>
	  	<th>Cores</th>
	  	<th>AMI ID</th>
	  	<th>Instance ID</th>
	  	<th>Valid?</th>
	  </tr>
	  <% @nodes.each do |n| %>
	  <tr>
	    <td><%= n.node_type %></td>
	    <td><%= n.ip_address %></td>
	    <td><%= n.hostname %></td>
	    <td><%= n.port %></td>
	    <td><%= n.local_hostname %></td>
	    <td><%= n.user %></td>
	    <td><%= n.cores %></td>
	    <td><%= n.ami_id %></td>
	    <td><%= n.instance_id %></td>
	    <td><%= n.valid %></td>
	  </tr>
	  <% end %>
	</table>
</div>