<h2>Status</h2>

<h4>Awake:
  <% if @awake.nil? %> Not set
      <% else %>
      <%= @awake.awake.strftime('%Y-%m-%d %I:%M %p') %>
  <% end %></h4>

<h4>Awake (Delta):
  <% if @awake_delta %>
    <%= @awake_delta %> Minutes
  <% else %>
      Not Set

  <% end %></h4>

<h4>File System:</h4>
<% if @file_systems %>
    <table class="table table-striped">
      <tr>
        <th>Mount Point</th>
        <th>Percent Used</th>
        <th>Free Space (MB)</th>
        <th>Used Space (MB)</th>
        <th>Total Space (MB)</th>
      </tr>
      <% @file_systems.each do |fs| %>
          <tr>
            <td><%= fs[:mount_point] %></td>
            <td><%= fs[:percent_free] %></td>
            <td><%= fs[:mb_free] %></td>
            <td><%= fs[:mb_used] %></td>
            <td><%= fs[:mb_total] %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<h4>Server:</h4>
<% unless @server.nil? %>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>Local Hostname</th>
        <th>User</th>
        <th>Cores</th>
        <th>AMI ID</th>
        <th>Instance ID</th>
        <th>Valid</th>
      </tr>
      <tr>
        <td><%= @server.id %></td>
        <td><%= @server.ip_address %></td>
        <td><%= @server.hostname %></td>
        <td><%= @server.local_hostname %></td>
        <td><%= @server.user %></td>
        <td><%= @server.cores %></td>
        <td><%= @server.ami_id %></td>
        <td><%= @server.instance_id %></td>
        <td><%= @server.enabled %></td>
      </tr>
    </table>
<% end %>

<h4>Workers: </h4>
<% if @workers.size > 0 %>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>Local Hostname</th>
        <th>User</th>
        <th>Cores</th>
        <th>AMI ID</th>
        <th>Instance ID</th>
        <th>Valid</th>
      </tr>
      <% @workers.each do |worker| %>
          <tr>
            <td><%= worker.id %></td>
            <td><%= worker.ip_address %></td>
            <td><%= worker.hostname %></td>
            <td><%= worker.local_hostname %></td>
            <td><%= worker.user %></td>
            <td><%= worker.cores %></td>
            <td><%= worker.ami_id %></td>
            <td><%= worker.instance_id %></td>
            <td><%= worker.enabled %></td>
          </tr>
      <% end %>
    </table>
<% end %>