<%
#*******************************************************************************
# OpenStudio(R), Copyright (c) 2008-2016, Alliance for Sustainable Energy, LLC.
# All rights reserved.
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# (1) Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# (2) Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# (3) Neither the name of the copyright holder nor the names of any contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission from the respective party.
#
# (4) Other than as required in clauses (1) and (2), distributions in any form
# of modifications or other derivative works may not use the "OpenStudio"
# trademark, "OS", "os", or any other confusingly similar designation without
# specific prior written permission from Alliance for Sustainable Energy, LLC.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER, THE UNITED STATES
# GOVERNMENT, OR ANY CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
# EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#*******************************************************************************
%>

<h2>Status</h2>

<h4>Awake:
  <% if @awake.nil? %> Not set
      <% else %>
      <%= @awake.awake.strftime('%Y-%m-%d %I:%M %p') %>
  <% end %></h4>

<h4>Awake (Delta):
  <% if @awake_delta %>
    <%= @awake_delta %> Minutes
  <% else %>
      Not Set

  <% end %></h4>

<h4>File System:</h4>
<% if @file_systems %>
    <table class="table table-striped">
      <tr>
        <th>Mount Point</th>
        <th>Percent Used</th>
        <th>Free Space (MB)</th>
        <th>Used Space (MB)</th>
        <th>Total Space (MB)</th>
      </tr>
      <% @file_systems.each do |fs| %>
          <tr>
            <td><%= fs[:mount_point] %></td>
            <td><%= fs[:percent_free] %></td>
            <td><%= fs[:mb_free] %></td>
            <td><%= fs[:mb_used] %></td>
            <td><%= fs[:mb_total] %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<h4>Server:</h4>
<% unless @server.nil? %>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>Local Hostname</th>
        <th>User</th>
        <th>Cores</th>
        <th>AMI ID</th>
        <th>Instance ID</th>
        <th>Valid</th>
      </tr>
      <tr>
        <td><%= @server.id %></td>
        <td><%= @server.ip_address %></td>
        <td><%= @server.hostname %></td>
        <td><%= @server.local_hostname %></td>
        <td><%= @server.user %></td>
        <td><%= @server.cores %></td>
        <td><%= @server.ami_id %></td>
        <td><%= @server.instance_id %></td>
        <td><%= @server.valid %></td>
      </tr>
    </table>
<% end %>

<h4>Workers: </h4>
<% if @workers.size > 0 %>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>Local Hostname</th>
        <th>User</th>
        <th>Cores</th>
        <th>AMI ID</th>
        <th>Instance ID</th>
        <th>Valid</th>
      </tr>
      <% @workers.each do |worker| %>
          <tr>
            <td><%= worker.id %></td>
            <td><%= worker.ip_address %></td>
            <td><%= worker.hostname %></td>
            <td><%= worker.local_hostname %></td>
            <td><%= worker.user %></td>
            <td><%= worker.cores %></td>
            <td><%= worker.ami_id %></td>
            <td><%= worker.instance_id %></td>
            <td><%= worker.valid %></td>
          </tr>
      <% end %>
    </table>
<% end %>