<p id="notice"><%= notice %></p>

<h1> list of problems for this project</h1>
<% @analysis.problems.each do |problem| %>
<%= link_to problem.name, problem_path(problem) %> <br>
<% end %>

<h1> list of datapoints for this analysis </h1>
<% @analysis.data_points.each do |dp| %>
    <%= link_to "data point: #{dp.name}", data_point_path(dp) %> </br>
<% end %>

<h1> uploaded zip file </h1>
<%= link_to "seed zip", @analysis.seed_zip.url(:original, false) %> </br>

<%= link_to 'Back', analysis_path %>
