<h1>Listing Measures</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Measure Type</th>
    <th>Description</th>
    <th>Arguments/Variables</th>
    <th>Value Instances</th>
  <tr>
  </thead>
  <tbody>
  <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.name if measure.name %></td>
        <td><%= measure.measure_type if measure.measure_type %></td>
        <td><%= measure.description %></td>
        <td><%= measure.arguments.map{|a| a['name'] if a['name']} if measure.arguments %></td>
        <td><%= measure.values if measure.values %></td>
      </tr>
  <% end %>
  </tbody>
</table>

