<%
#*******************************************************************************
# OpenStudio(R), Copyright (c) 2008-2016, Alliance for Sustainable Energy, LLC.
# All rights reserved.
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# (1) Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# (2) Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# (3) Neither the name of the copyright holder nor the names of any contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission from the respective party.
#
# (4) Other than as required in clauses (1) and (2), distributions in any form
# of modifications or other derivative works may not use the "OpenStudio"
# trademark, "OS", "os", or any other confusingly similar designation without
# specific prior written permission from Alliance for Sustainable Energy, LLC.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER, THE UNITED STATES
# GOVERNMENT, OR ANY CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
# EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#*******************************************************************************
%>

<h2>Data Point Information</h2>

<div class="row-fluid">
  <div class="span4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Analysis Information</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Data Point Name</th>
            <td><%= @data_point.name %></td>
          </tr>
          <tr>
            <th>Analysis</th>
            <td><%= link_to @data_point.analysis.display_name, analysis_path(@data_point.analysis) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data and Visualizations</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if @data_point.status == 'completed' %>
              <%= link_to "View Bar Chart", plot_bar_analysis_path(:id => @data_point.analysis.id, :datapoint_id => @data_point.id), class: 'list-group-item' %>
          <% end %>
          <%= link_to 'View JSON', data_point_path(@data_point, :format => :json), class: 'list-group-item' %>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <% unless @data_point.result_files.size == 0 %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Result Files</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Type</th>
            <th>Name</th>
          </tr>
          <% @data_point.result_files.each do |h| %>
            <tr>
              <td><%= h.type %></td>
              <td><%= link_to h.display_name, h.attachment.url(:original, false) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2>Variable Values</h2>
<% if @set_variable_values.empty? %>
    <p>No variables found for this data point</p>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Field Name</th>
        <th>Field Value</th>
      <tr>
      </thead>
      <tbody>
      <% @set_variable_values.each do |k, v| %>
          <tr>
            <td><%= link_to(Variable.find(k).display_name, Variable.find(k)) if Variable.find(k) %></td>
            <td><%= v %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<h2>Results</h2>
<% if @data_point.results %>
    <div class="panel-group" id="accordion">
      <% @data_point.results.sort.each do |k, v| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= k %>">
                  <%= "Measure: #{k}" %>
                </a></h4>
            </div>
            <div id="collapse_<%= k %>" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Display Name</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Units</th>
                  <tr>
                  </thead>
                  <tbody>
                  <% if v.is_a? Hash %>
                      <% v.each do |k2, v2| %>
                          <% next if k2 =~ /(_display_name|_units)$/ %>
                          <tr>
                            <% if k2 =~ /(_final|_initial)$/ %>
                                <% var = Variable.where(:analysis_id => @data_point.analysis_id, :name => k2.gsub(/(_final|_initial)/, "")).first %>
                                <td><%= var.display_name if var && var.display_name %></td>
                                <td><%= "#{k}.#{k2}" %></td>
                                <td><%= v2 %></td>
                                <td><%= var.units if var && var.units %></td>
                            <% else %>
                                <td><%= @data_point.results["#{k2}_display_name"] if @data_point.results.has_key?("#{k2}_display_name") %></td>
                                <td><%= k2 %></td>
                                <td><%= v2 %></td>
                                <td><%= @data_point.results["#{k2}_units"] if @data_point.results.has_key?("#{k2}_units") %></td>
                            <% end %>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<h2>Data Point Fields</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
  <tr>
  </thead>
  <tbody>

  <% @table_data.each do |k, v| %>

      <% if k == 'results' || k == 'sdp_log_file' %>
          <tr data-toggle="collapse" class="accordion-toggle" data-target="#collapse_<%= k %>">
            <td><%= k %></td>
            <td>
              <button class="btn"> Toggle View</button>
            </td>
          </tr>
          <tr class="hidden-row">
            <td>&nbsp;</td>
            <td>
              <div class="accordion-body collapse" id="collapse_<%= k %>"><%= v %></div>
            </td>
          </tr>
      <% else %>
          <tr>
            <td><%= k %></td>
            <td><%= v %></td>
          </tr>
      <% end %>

  <% end %>
  </tbody>
</table>


