<p id="notice"><%= notice %></p>

<p>
  <a href="#dp_fields">Jump to Data Point Table</a>
</p>

<h1><a id="dp_fields">Variable Values</a></h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
  <tr>
  </thead>
  <tbody>
  <% @set_variable_values.each do |k, v| %>
      <tr>
        <td><%= link_to(Variable.find(k).name, Variable.find(k)) if Variable.find(k) %></td>
        <td><%= v %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h1><a id="dp_fields">Data Point Information</h1>
<%= link_to 'View Full JSON', show_full_data_point_path(@data_point, :format => :json) %></br>
<%= link_to 'View OS JSON', data_point_path(@data_point, :format => :json) %></br>
<%= link_to_if(!@data_point.openstudio_datapoint_file_name.nil? && File.exist?(@data_point.openstudio_datapoint_file_name), "Download Zip File", download_data_point_path(@data_point)) %></br>

<h1><a id="dp_fields">EnergyPlus HTML</h1>
<%= @html.html_safe unless @html.nil? %>

<h1><a id="dp_fields">Data Point Fields</a></h1>
<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
  <tr>
  </thead>
  <tbody>
  <% @table_data.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
  <% end %>
  </tbody>
</table>


