<p id="notice"><%= notice %></p>

<p>
  <a href="#dp_fields">Jump to EnergyPlus Results</a>
</p>

<h2>Data Point Information</h2>
<strong>Name:</strong> <%= @data_point.name %><br/>
<%= link_to 'View Full JSON', show_full_data_point_path(@data_point, :format => :json) %></br>
<%= link_to 'View OS JSON', data_point_path(@data_point, :format => :json) %></br>
<%= link_to_if(!@data_point.openstudio_datapoint_file_name.nil? && File.exist?(@data_point.openstudio_datapoint_file_name), "Download Data Point", download_data_point_path(@data_point)) %></br>
<%= link_to_if(@data_point.status == 'completed', "View Bar Chart", plot_bar_analysis_path(:id => @data_point.analysis.id, :datapoint_id => @data_point.id)) %>

<h2>Variable Values</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
  <tr>
  </thead>
  <tbody>
  <% @set_variable_values.each do |k, v| %>
      <tr>
        <td><%= link_to(Variable.find(k).name, Variable.find(k)) if Variable.find(k) %></td>
        <td><%= v %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<h2>High Level Results</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Display Name</th>
      <th>Name</th>
      <th>Value</th>
      <th>Units</th>
    <tr>
    </thead>
    <tbody>
    <% if @data_point.results %>
        <% @data_point.results.sort().each do |k, v| %>
            <% next if k =~ /(_display_name|_units)$/ %>
            <tr>
              <% if k =~ /(_final|_initial)$/ %>
                  <% var = Variable.where(:analysis_id => @data_point.analysis_id, :name => k.gsub(/(_final|_initial)/, "")).first %>
                  <td><%= var.display_name if var && var.display_name %></td>
                  <td><%= k %></td>
                  <td><%= v %></td>
                  <td><%= var.units if var && var.units %></td>
              <% else %>
                  <td><%= @data_point.results["#{k}_display_name"] if @data_point.results.has_key?("#{k}_display_name") %></td>
                  <td><%= k %></td>
                  <td><%= v %></td>
                  <td><%= @data_point.results["#{k}_units"] if @data_point.results.has_key?("#{k}_units") %></td>
              <% end %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>


<a id="dp_fields"></a>
<h2>EnergyPlus HTML</h2>
<% if @html %>
    <%= @html.html_safe %>
<% else %>
    <p>No HTML file found.</p>
<% end %>


<h2>Data Point Fields</h2>
<table class="table table-striped wide-table">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
  <tr>
  </thead>
  <tbody>
  <% @table_data.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
  <% end %>
  </tbody>
</table>


