<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li<%= active_nav('Projects') %>><%= link_to 'Projects', projects_path %></li>
      <li<%= active_nav('Analyses') %>><%= link_to 'Analyses', projects_path %> </li>
      <li<%= active_nav('Admin') %>><%= link_to 'Admin', admin_index_path %></li>
      <li<%= active_nav('About') %>><%= link_to 'About', about_path %></li>

    </ul>
   </div>
</div><!-- /.container-fluid -->
</nav>

