<h2>Admin</h2>

<div class="row-fluid">
  <h3 class="pad-bottom-20">Backup</h3>
  <div class="span3 pad-bottom-20">
    <%= link_to 'Backup Database (For Sharing)', admin_backup_database_path(full_backup: false), class: "btn btn-mini btn-primary" %>
  </div>
  <div class="span3 pad-bottom-20">
    <%= link_to 'Backup Database (Full)', admin_backup_database_path(full_backup: true), class: "btn btn-mini btn-primary" %>
  </div>
</div>
<div class='row-fluid'>
  <h3 class="pad-bottom-20">Restore</h3>
  <div class="span3 pad-bottom-20">

    <%= form_tag 'admin/restore_database', :multipart => true do %>

      Upload Previous Database Dump (targz) <%= file_field_tag "file", class: "btn btn-mini" %>
  </div>
  <div class="span3 pad-bottom-20">
      <%= submit_tag "Upload and Restore Database", class: "btn btn-mini btn-primary" %>
    <% end %>
  </div>
</div>





